body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0%;
    gap: 2%;
}

.title {
    font-family: Helvetica, sans-serif;
    margin: 0%;
}

.buttons {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
}

.button {
    background-color: black;
    border: none;
    border-radius: 10px;
    width: 25%;
    padding: 10px 0px;
    font-family: Helvetica, sans-serif;
    color: white;
    font-size: large;
    font-weight: bold;
}

.refresh {
    background-color: white;
    border-radius: 10px;
    width: 25%;
    padding: 10px 0px;
    font-family: Helvetica, sans-serif;
    color: black;
    font-size: large;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid black;
    width: 40%;
    aspect-ratio: 1 / 1;
}

.outterDivs {
    display: flex;
    flex: auto;
}

.innerDivs {
    flex: auto;
    border: 1px solid black;
}

