body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0% 5%;
    margin: 0%;
    gap: 5%;
}

.button {
    background-color: lightblue;
    border-radius: 15px;
    width: 50%;
    height: 5%;
    font-family: Helvetica, sans-serif;
    font-size: 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    min-width: 50%;
    min-height: 50%;
}

.outterDivs {
    display: flex;
    border: 1px solid black;
    flex: auto;
}

.innerDivs {
    border: 1px solid black;
    flex: auto;
}

